HW2/.vs
HW2/x64
HW2/packages
AirportLaverghetta/.vs
AirportLaverghetta/x64
AirportLaverghetta/AirportLaverghetta/x64
AirportLaverghetta/Debug
AirportLaverghetta/AirportLaverghetta/Debug
ConservativeDistributedAlgorithm/.vs
ConservativeDistributedAlgorithm/x64
ConservativeDistributedAlgorithm/ConservativeDistributedAlgorithm/x64